<div class="relative w-full h-screen">
  <div
    class="absolute inset-0 bg-cover bg-center"
    style="
      background-image: url('https://wallpapers.com/images/high/netflix-background-gs7hjuwvv2g0e9fj.webp');
    "
  ></div>

  <div class="relative flex items-center justify-center h-full text-white">
    <div class="bg-white/50 w-[40%] h-[60%] rounded-lg shadow-lg p-8">
      <h1 class="text-2xl font-bold text-center mb-4">Stream eyes login</h1>
      <form class="space-y-6" (ngSubmit)="onLogin()">
        <div>
          <input
            type="email"
            [(ngModel)]="email"
            id="email"
            class="w-full px-4 py-2 text-black border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
            placeholder="Enter your email"
          />
        </div>
        <div>
          <input
            type="password"
            [(ngModel)]="password"
            id="password"
            class="w-full px-4 py-2 text-black border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
            placeholder="Enter your password"
          />
        </div>
        <div>
          <button
            type="submit"
            [disabled]="isLoading"
            class="w-full bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300"
          >
            Login
          </button>
        </div>

        <div class="text-center text-sm text-gray-600 space-y-2">
          <a
            routerLink="/forgot-password"
            class="block hover:underline text-blue-500"
          >
            Forgot Password?
          </a>
          <p>
            Don't have an account?
            <a
              routerLink="/register"
              class="hover:underline text-blue-500"
            >
              Register
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
